{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}Project{% endblock %}


{% block content %}
  <h3>{{ project.title }}</h3>
  <p>{{ project.description }}</>

  <h3>Task: {{task.title}}</h3>

    <form method="GET">
      
      
      <input name='q', placeholder="search..">
      <button type="submit"> Search</button>
      <list name='q_result'>{{queryset}}</list>
      
     
      
    </form>


  <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}

    <button type="submit">Give permission</button>

  </form>


<!--
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
  
  <select class="select_field_class" multiple="multiple" name="option" id="option">
        <option value="">Enter the option</option>
        {% for option in options %}
           <option value="{{ option.id }}">{{ option.name }}</option>
        {% endfor %}
  </select>
  
  $('.select_field_class').select2( { placeholder: "Select here", maximumSelectionSize: 100  } );







  {% load static %}
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}" />

{{ form.media }}
{% endblock %}